body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #6f6fc5;
    color: #333;
}
.container {
    background: #525252;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}